<div class="analytics-dashboard-page-wrapper">
    <div class="analytics-dashboard-page-content">
        <div class="analytics-alerts">            
            <success ng-if="!downloadReportPopupOpen && reportSendSuccess" message="Report will be sent to provided email address."></success>
        </div>
        <h2 class="analytics-dashboard-page-header">
            <div class="analytics-dashboard-page-header-left">
                <img src="resources/images/triton-logo-login-2.png" alt="" />
                <span>Analytics Dashboard</span>
            </div>
            <div class="analytics-dashboard-page-header-right">
                <div class="analytics-card-search-area">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search" class="analytics-card-search" ng-model="searchQuery" ng-change="filterCards()">
                </div>
            </div>            
        </h2>
        <div class="analytics-card-row">
            <div class="analytics-card-col" ng-repeat="card in analyticsCards">
                <div class="analytics-card" ng-style="{'background-color': card.color}">
                    <div class="analytics-card-body">
                      <div class="analytics-card-body-inner">
                        <h4>{{card.title}}</h4>
                        <h1 ng-if="card.count != undefined">{{card.count | number}}</h1>
                        <span ng-if="card.report != undefined" class="download-report">
                            <i ng-hide="reportSending[card.report] && !downloadReportPopupOpen" ng-click="downloadReport(card.report)" class="fa fa-download"></i>
                            <i ng-if="reportSending[card.report] && !downloadReportPopupOpen" class="fa fa-spinner fa-spin"></i>
                        </span>
                        <i class="icon-fa fa fa-{{card.icon}}"></i>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="sentReportEmail.html">
    <div class="dataTables_wrapper modal-box common-popup add-service-level-popup common-popup-resp md-top-zero" style="width:420px"> 
       <div class="popup-header">
          <span class="heading">Create Report</span>
          <div class="popup-close" ng-click="closeThisDialog('')"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
       </div>  
       <form class="set-chem-form" name="sentReportEmailForm" autocomplete="off" ng-submit="sentReportEmailForm.$valid && sendReport()" novalidate>      
          <div class="detail-box">         
          <div class="grid text-left box" >         
             <error ng-if="sentReportEmailForm.$submitted && sentReportEmailForm.emailId.$invalid" message="Please enter a valid email."></error>
             <error ng-if="reportSendError" message="Some error occured. Please try again."></error>             
             <success ng-if="reportSendSuccess" message="Report will be sent to provided email address."></success>
             <div class="col-12 sent-email-report-message">
               Where should we send the report when it's ready? <br> (large reports can take a while)
             </div>
             <div class="col-12-12">                 
                <div class="formGroup">
                      <label>Email Address</label>
                      <input 
                         type="email" 
                         autocomplete="off" 
                         class="form-control" 
                         ng-model="reportPageSentReportEmailModel.email" 
                         placeholder="Email Address" 
                         name="emailId" 
                         ng-maxlength="100" 
                         ng-minlength="6" 
                         ng-disabled="reportSending[reportPageSentReportEmailModel.endpoint]"
                         ng-pattern='/^[^<>()[\]\\,;:\%#^\s@\"$&!@]+@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z0-9\d-_]+\.)+[a-zA-Z\d-_]{2,}))$/' 
                         ng-class="{'has-error': sentReportEmailForm.$submitted && sentReportEmailForm.emailId.$invalid }"
                         required
                      />
                </div>     
             </div>
          </div>      
          <div class="text-center p-t20">
             <button class="add-button add-button-report-send" ng-click="closeThisDialog()" ng-disabled="reportSending[reportPageSentReportEmailModel.endpoint]" type="button">CANCEL</button>
             <span class="p-l10">
                <button class="add-button add-button-report-send" ng-disabled="reportSending[reportPageSentReportEmailModel.endpoint]" type="submit" ng-click="sentReportEmailForm.submitAttempt=true;" >
                    <span ng-if="!reportSending[reportPageSentReportEmailModel.endpoint]">SEND REPORT</span>
                    <span ng-if="reportSending[reportPageSentReportEmailModel.endpoint]">SENDING...</span>
                </button>
            </span>            
          </div>        
          </div>
       </form> 
    
    </div>
 </script>