<div class="dataTables_wrapper modal-box picture-videos-popup" style="width:450px">
    <div class="popup-header">
      <div class="fl h-1-5x b white">Session Expired</div>
      <div class="popup-close" ng-click="closeThisDialog()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
    </div>
    <div class="dataTables_wrapper" ng-init="getMeidList()">
          <div class="meid-form-container p-tb20 text-center h-2x">
              Your session is expired. Please login again.
              <div class="p-t20">
                <button type="button" ng-click="closeThisDialog()" class="button bt-blue">OK</button>
              </div>
          </div>
      </div>
    </div>
  </div>
