<div class="login">
  <div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>
  <div class="login-container">
    <div class="profile-img"><img border="0" src="resources/images/triton-logo-login.png" alt="" /></div>
    <p>Set your password to login.</p>
    <form name="resetPasswordForm" autocomplete="off" class="form-signin" ng-submit="resetPasswordModel.cpassword == resetPasswordModel.password && doReset()" novalidate>
        <label>First Name</label>
        <input type="text" class="form-control" ng-pattern="/^([a-zA-Z0-9 '._-]+)$/" ng-model="signupModel.firstName" placeholder="Enter your first name"
          name="firstName" ng-maxlength="50" ng-class="{'has-error': signupForm.$submitted && signupForm.firstName.$invalid || signupForm.firstName.$touched && signupForm.firstName.$invalid}"
          required autofocus>
        <label>Last Name</label>
        <input type="text" class="form-control" ng-pattern="/^([a-zA-Z0-9 '._-]+)$/" ng-model="signupModel.lastName" placeholder="Enter your last name"
          name="lastName" ng-maxlength="50" ng-class="{'has-error': signupForm.$submitted && signupForm.lastName.$invalid || signupForm.lastName.$touched && signupForm.lastName.$invalid}"
          required autofocus>
          <label>Phone Number</label>
          <input type="text" class="form-control" ng-model="signupModel.phoneNumber" placeholder="Enter your phone number" name="phoneNumber"
            ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/" phone-input="" ng-class="{'has-error': signupForm.$submitted && signupForm.phoneNumber.$invalid || signupForm.phoneNumber.$touched && signupForm.phoneNumber.$invalid}"
            required autofocus>
      <label>Password</label>
      <input type="password" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/" placeholder="Enter your password" ng-minlength="8"
        ng-maxlength="30" maxlength="30" ng-focus="isFocusOnPassword=true" ng-blur="isFocusOnPassword=false" ng-class="{'has-error': resetPasswordForm.$submitted && resetPasswordForm.password.$invalid || resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid}"
        ng-model="resetPasswordModel.password" id="password" name="password" class="form-control" required>
      <div class="password-note" ng-class='{"password-note-red":resetPasswordForm.$submitted && resetPasswordForm.password.$invalid || resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid}'>(8 Chars. min with 1 capital, 1 lower and 1 numeric)</div>
      <label>Confirm Password</label>
      <input type="password"  class="form-control" ng-model="resetPasswordModel.cpassword"
        placeholder="Confirm your password" name="cpassword" 
        ng-class="{'has-error': (resetPasswordForm.$submitted && resetPasswordModel.cpassword != resetPasswordModel.password && resetPasswordForm.password.$dirty) || (resetPasswordForm.$submitted && resetPasswordForm.cpassword.$invalid) || (resetPasswordForm.cpassword.$touched && resetPasswordForm.cpassword.$invalid)}"
        ng-class="{'has-error': resetPasswordForm.$submitted && resetPasswordForm.cpassword.$invalid || resetPasswordForm.cpassword.$touched && resetPasswordForm.cpassword.$invalid}"
        required>
        <div class="password-note password-note-red"><span ng-show="resetPasswordForm.$submitted && resetPasswordModel.cpassword != resetPasswordModel.password && resetPasswordForm.password.$dirty">Password does not match</div>
      <br />
      <button class="" ng-disabled="isProcessing || !resetPasswordForm.$dirty" ng-class="{'disabledBtnClass':isProcessing || !resetPasswordForm.$dirty}" type="submit">Save Password</button>
      
    
    <success ng-if="success" message="{{success}}"></success>
      <error ng-if="error" message="{{error}}"></error>
    </form>
  </div>
</div>
