<div class="login signup" ng-controller="authController">
 	<div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>
  <div class="login-container">
      <div class="profile-img"><img border="0" src="resources/images/triton-logo-login.png" alt="" /></div>
      <h3 class="form-title">CREATE NEW COMPANY</h3>
    <!-- <div class="profile-img"><img border="0" src="resources/images/triton-logo-login.png" alt="" /></div> -->
    <form name="signupForm" class="form-signin" ng-submit="signupModel.cpassword == signupModel.password && doSignup()" novalidate>
      <!-- <div class="add-profile-image"><a href="javascript:void(0)" ng-click="browseImage()">
        <img border="0" src="{{signupModel.profileImage ? signupModel.profileImage : 'resources/images/add-image.png'}}" title="Add Profile Image" alt="Add Profile Image" />
          <div class="blue">Add Photo</div></a>
        <input type="file" id="image" name="image"  ng-model="image" style="display: none" base-sixty-four-input ng-change="uploadFile()">
      </div> -->
      <div class="form-group"><input type="text" class="form-control" ng-pattern="/^([a-zA-Z0-9 '._-]+)$/" ng-model="signupModel.firstName" placeholder="Enter your first name" name="firstName" ng-maxlength="50"
                       ng-class="{'has-error': signupForm.$submitted && signupForm.firstName.$invalid || signupForm.firstName.$touched && signupForm.firstName.$invalid}"
                       required autofocus></div>
      <div class="form-group"><input type="text" class="form-control" ng-pattern="/^([a-zA-Z0-9 '._-]+)$/" ng-model="signupModel.lastName" placeholder="Enter your last name" name="lastName" ng-maxlength="50"
                       ng-class="{'has-error': signupForm.$submitted && signupForm.lastName.$invalid || signupForm.lastName.$touched && signupForm.lastName.$invalid}"
                       required autofocus></div>
      <div class="form-group"><input type="email" class="form-control" ng-pattern='/^[^<>()[\]\\,;:\%#^\s@\"$&!@]+@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z0-9\d-_]+\.)+[a-zA-Z\d-_]{2,}))$/' ng-model="signupModel.email" placeholder="Enter your email (new user ID)" name="email" ng-maxlength="100" ng-minlength="6"
                       ng-class="{'has-error': signupForm.$submitted && signupForm.email.$invalid || signupForm.email.$touched && signupForm.email.$invalid}"
                       required autofocus></div>
      <!-- <label>Phone Number</label>
      <input type="text" class="form-control" ng-model="signupModel.phoneNumber" placeholder="Enter your phone number" name="phoneNumber"
											ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/" phone-input=""
                       ng-class="{'has-error': signupForm.$submitted && signupForm.phoneNumber.$invalid || signupForm.phoneNumber.$touched && signupForm.phoneNumber.$invalid}"
                       required autofocus> -->
      <div class="form-group" style="margin-bottom: 15px;"><input type="password" ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/" placeholder="Choose a password" ng-minlength="8" ng-maxlength="30" maxlength="30"
                   ng-focus="isFocusOnPassword=true" ng-blur="isFocusOnPassword=false"
									 ng-class="{'has-error': signupForm.$submitted && signupForm.password.$invalid || signupForm.password.$touched && signupForm.password.$invalid}"
                   ng-model="signupModel.password" id="password" name="password" class="form-control" required>
                   <div class="password-note" ng-class='{"password-note-red":signupForm.$submitted && signupForm.password.$invalid || signupForm.password.$touched && signupForm.password.$invalid}'>(Minimum 8 characters with 1 uppercase, 1 lowercase and 1 number)</div>
                  </div>
      

      <div class="form-group" style="margin: 15px 0;"><input type="password"  class="form-control" ng-model="signupModel.cpassword" placeholder="Confirm your password" name="cpassword"
																						
												ng-class="{'has-error': (signupForm.$submitted && signupModel.cpassword != signupModel.password && signupForm.password.$dirty) || (signupForm.$submitted && signupForm.cpassword.$invalid) || (signupForm.cpassword.$touched && signupForm.cpassword.$invalid)}"
                        required></div>
                        <div class="password-note password-note-red"><span ng-show="signupForm.$submitted && signupModel.cpassword != signupModel.password && signupForm.password.$dirty">Password does not match</div>
      <!-- <br /> -->
      <!-- checkbox -->
      <div class="row">
        <div class="col-xs-12">
          <div class="signup-checkbox">
            <input type="checkbox" ng-model="signupModel.acceptedNotifications" name="acceptedNotifications">
            <label>
              <span>Receive email and SMS notifications from Pool Brain. Opt-out at any time. Message & data rates may apply.</span>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="signup-checkbox">
            <input type="checkbox" required ng-model="signupModel.acceptedTerms" name="acceptedTerms">
            <label>
              <span>Accept Pool Brain's <a target="_blank" href="https://www.poolbrain.com/privacy-policy">Privacy Policy</a> and <a target="_blank" href="https://www.poolbrain.com/terms-of-service">Terms of Service</a></span>
            </label>
          </div>
          <div class="password-note password-note-red"><span ng-show="signupForm.$submitted && !signupModel.acceptedTerms">Please accept privacy policy and terms of service</div>
        </div>
      </div>
      <!-- checkbox -->      
      <button class="" ng-disabled="isProcessing" type="submit">SIGN UP</button>
      <div class="access-signup">Already have an account? <a href="javascript:void(0)" ui-sref="login">Sign In</a></div>
      <success ng-if="success" message="{{success}}"></success>
      <error ng-if="error" message="{{error}}"></error>
    </form>
  </div>
</div>
