<div class="">
  <div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>
  <div class="grid customer-add-moreinfo">
    <div class="col-1-1">
      <div class="white-bg text-left p-tb20 p-lr20 darkGray">
        <div class="grid">
          <div style="display: inline-block;width: 100%">
              
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
