
<div class="login">
  <div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>
  <div class="login-container">
    <div class="profile-img"><img border="0" src="resources/images/triton-logo-login.png" alt="" /></div>
    <p class="m-t30">Enter your registered email address and we will send you a new password.</p>
    <form name="forgotForm" autocomplete="off" class="form-signin" ng-submit="doForgot()" novalidate>
      <div class="form-group">
      <input type="email" autocomplete="off" class="form-control" ng-model="forgotModel.email" placeholder="Enter your email address" name="email" ng-maxlength="50" ng-minlength="6"
                       ng-class="{'has-error': forgotForm.submitted && forgotForm.email.$invalid || forgotForm.email.$touched && forgotForm.email.$invalid}"
                       required ></div>
      
      <button class="" ng-disabled="isProcessing || !forgotForm.$dirty" ng-class="{'disabledBtnClass':isProcessing || !forgotForm.$dirty}" type="submit">Send</button>
      <div class="access-signup">Already have an account? <a href="javascript:void(0)" ui-sref="login">Sign In</a></div>
    
    <success ng-if="success" message="{{success}}"></success>
      <error ng-if="error" message="{{error}}"></error>
    </form>
  </div>
</div>
