<div>
    <div class="">
        <span>
            Not Enough Brushing:
        </span>
        1.25 mins
        <div>
            <span>
                Tech Note:
            </span>
            The pool was clean
        </div>
    </div>
</div>
<br>
    <ul style="height:130px;overflow:scroll">
        <li>
            <span>
                4
            </span>
            <span>
                test333333333333
            </span>
        </li>
        <li>
            <span>
                5
            </span>
            <span>
                test case
            </span>
        </li>
        <li>
            <span>
                8
            </span>
            <span>
                test case 4
            </span>
        </li>
        <li>
            <span>
                9
            </span>
            <span>
                test case 5
            </span>
        </li>
        <li>
            <span>
                11
            </span>
            <span>
                test
            </span>
        </li>
        <li>
            <span>
                14
            </span>
            <span>
                test333333333333
            </span>
        </li>
        <li>
            <span>
                15
            </span>
            <span>
                test case
            </span>
        </li>
        <li>
            <span>
                18
            </span>
            <span>
                test case 4
            </span>
        </li>
        <li>
            <span>
                19
            </span>
            <span>
                test case 5
            </span>
        </li>
        <li>
            <span>
                20
            </span>
            <span>
                test case 5
            </span>
        </li>
        <li>
            <span>
                2
            </span>
            <span>
                test
            </span>
        </li>
        <li>
            <span>
                12
            </span>
            <span>
                test
            </span>
        </li>
        <li>
            <span>
                6
            </span>
            <span>
                test case 1
            </span>
        </li>
        <li>
            <span>
                10
            </span>
            <span>
                test case 6
            </span>
        </li>
        <li>
            <span>
                16
            </span>
            <span>
                test case 1
            </span>
        </li>
        <li>
            <span>
                21
            </span>
            <span>
                test case 6
            </span>
        </li>
        <li>
            <span>
                3
            </span>
            <span>
                test
            </span>
        </li>
        <li>
            <span>
                7
            </span>
            <span>
                test case 2
            </span>
        </li>
        <li>
            <span>
                13
            </span>
            <span>
                test
            </span>
        </li>
        <li>
            <span>
                17
            </span>
            <span>
                test case 2
            </span>
        </li>
    </ul>
</br>