
<div>
  <div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>

  <div class="set-chem-form" ng-init="getChemicalsSetting()">
    <form class="set-chem-form" name="settingForm" ng-submit="addEditSetting()" novalidate>
      <div class="set-chem-price">
        <div class="set-chem-title">SET CHEMICAL PRICING</div>
        <div class="set-chem-details">
          <div class="set-chem-list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody ng-repeat="chemicals in chemicalsData track by $index" ng-class-odd="'odd'" ng-class-even="'even'">
                <tr ng-init="settingModel[chemicals.keyName] = chemicals.value">
                  <td class="chem-key-title">{{chemicals.keyValue}}</td>
                  <td class="chem-key-input"><input autofocus class="form-control" name="{{chemicals.keyName}}" value="{{chemicals.value}}" ng-model="chemicalsData[$index].value" required="" type="text" ng-pattern="/^([0-9.]+)$/" ng-class="{'has-error': settingForm.$submitted && settingForm[chemicals.keyName].$invalid || settingForm[chemicals.keyName].$touched && settingForm[chemicals.keyName].$invalid}" /></td>
                  <td class="chem-key-unit">per {{chemicals.unit}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="set-chem-button">
            <button class="button" ng-disabled="!settingForm.$dirty"  type="submit"> SAVE </button>
          </div>
          <success ng-if="success" message="{{success}}"></success>
          <error ng-if="error" message="{{error}}"></error>
        </div>
      </div>
    </form>
  </div>
</div>
