<div class="dataTables_wrapper modal-box picture-videos-popup" style="width: 700px">
  <div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>
  <div class="popup-header">
    <div class="fl h-1-5x b white">{{deviceObj.type == 'assign' ? 'Assign' : 'Change'}} Device Technician</div>
    <div class="popup-close" ng-click="closeThisDialog()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
  </div>
  <div class="popup-body text-center">
    <div class="row-container">
      <div><label>Device Name: </label> {{deviceObj.deviceName}}</div>
      <div><label>Device Serial No: </label> {{deviceObj.deviceSerialNo}}</div>
      <div ng-show="freeTechList.length > 0">
          <select ng-model="selectedObj">
            <option value="">Select Technician</option>
            <option ng-repeat="tech in freeTechList" selected="{{selectedObj.techId == tech.techId}}" value="{{tech}}">{{tech.firstName}}{{tech.lastName ? ' '+tech.lastName : ''}}</option>
          </select>
      </div>
      <div ng-if="freeTechList.length == 0" class="has-error-lavel">System haven't find free technician.</div>

      <br />
      <button ng-show="freeTechList.length > 0" class="" ng-disabled="isProcessing" type="button" ng-click="selectedObj ? switchTech(selectedObj, deviceObj.type) : null">Save</button>
      <error ng-if="error" message="{{error}}"></error>
    </div>
  </div>
</div>
