<div class="dataTables_wrapper modal-box picture-videos-popup" style="width: 700px">
  <div class="spinner" ng-if="isProcessing">
    <div class="spinner-item">
      <div class="spinner-animation"><img border="0" src="resources/images/spinner.gif" /></div>
    </div>
  </div>
  <div class="popup-header">
    <div class="fl h-1-5x b white">Subject :- {{desc}} </div>
    <div class="popup-close" ng-click="closeThisDialog()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
  </div>

 
  
<div style="padding:30px;" class="white-bg">
<div class="p-b10">Message: {{desc}}</div>
<div class="p-b10">Reply: {{desc}}</div>   
</div>
</div>
</div>
